.container-face-1 {
height: 700px;
color: white;
text-align: center;

  }
  #bpic{
    background-image: url(https://img.freepik.com/free-photo/young-woman-doing-self-care-routine-home_23-2148974301.jpg?w=1060&t=st=1718211818~exp=1718212418~hmac=4dc42a438e084bfa11f209a05ce60e48624d16d208bec7a29f43cbbc1e7d1f4f);
    background-size: cover;
}

  .container-face-1 h4{
    padding-top: 350px;
font-size: 35px;
font-family: math;
font-weight: 700;
  }

  .container-face-1 h1{
    font-size: 80px;
font-family: math;
font-weight: 700;
  }
  .navbut{

    text-decoration: none;
    color:white;
}



  .container-face-2{
        display: flex;
padding-top: 111px;
    }
    .about-me h1{
        font-family: math;
color: rgb(139, 109, 134);
font-size: 72px;
font-weight: 700;
text-align: center;
    }

    .about-me h4{
        color: rgb(139, 109, 134);
font-size: 25px;
font-family: monospace;
text-align: center;
    }

    .me-para-1{
        text-align: center;
width: 354px;
color: rgb(139, 109, 134);
font-family: math;
font-size: 17px;
    }


    .work-img{
      
padding-top: 100px;
    }

    .about-me button{
        width: 151px;
        height: 45px;
border-radius: 48px;
background-color: rgb(139, 109, 134);
color: white;
margin-left: 95px;
border: aliceblue;
margin-top: 60px;
    }

    .container-face-3{
        padding-top: 100px;
    }

    .acne-1{
        padding-top: 25px;
    }

    .acne-2{
        padding-top: 25px;
    }

    .acne{
        background-color: rgb(255, 245, 251);
        height: 208px;
        display: flex;
        color:rgb(139, 109, 134);
        justify-content: space-evenly;
     font-family: ui-rounded;
font-size: 27px;
    }

    .acne-num{
        font-size: 60px;
    }

    .acne-1 h5{
        width: 766px;
font-weight: 100;
    }

    .acne2{
        height: 208px;
        display: flex;
        color:rgb(139, 109, 134);
        justify-content: space-evenly;
     font-family: ui-rounded;
font-size: 27px;
    }

    .acne-num2{
        font-size: 60px;
    }

    .acne-2 h5{
        width: 766px;
font-weight: 100;
    }
